- item = locals[:item]

a.card-item id="item-#{item.id}" href="#"
  .checkmark
  .item
    span.item-name
      = item.name
    - item.meta.split(';').each do |meta|
      span.item-unit
        nobr
          = meta
  - if !item.price.blank?
    .item-price
      - if item.kilo?
        span.item-price-value data-amount=(item.price.to_f * item.weight.to_f)
          = item.price.to_s
        span.rouble
          | ₽/кг
      - else
        span.item-price-value data-amount=item.price.to_f
          = item.price
        span.rouble
          | ₽
