- card ||= @card

.card class=(card.big? ? 'double' : '') data-card-id=card.id data-priority=card.priority data-edit-url=edit_card_path(card.id, format: :json)
  - if admin_user_signed_in?
    = link_to card, class: 'del-icon', method: :delete, data: { confirm: 'Вы уверены?' }, remote: true do
      svg[xmlns="http://www.w3.org/2000/svg" viewbox="0 0 340.1 340.1" width="512" height="512"]
        path[d="M306.1 45.4l-68-0.3V36.6c0-20.2-18.5-36.6-41.4-36.6h-53.1c-22.9 0-41.5 16.4-41.5 36.6v8.7l-68 0v45.4h23.4c-0.4 3.6-0.7 7.3-0.7 11v181.6c0 29.9 14.5 56.8 45.4 56.8h136.1c30.8 0 45.4-26.9 45.4-56.8V101.8c0-3.7-0.2-7.4-0.5-11h23.1C306.1 90.8 306.1 45.4 306.1 45.4zM124.7 36.6c0-7.6 8.6-13.9 18.8-13.9h53.1c10.2 0 18.8 6.4 18.8 13.9v8.7h-90.7v-8.7H124.7zM260.8 283.3c0 17.4-4.3 34.1-22.7 34.1H102c-18.3 0-22.7-16.6-22.7-34.1v-181.6c0-3.8 0.2-7.5 0.8-11h179.9c0.5 3.5 0.8 7.2 0.8 11v181.6H260.8zM102 294.8h22.7V113.4h-22.7V294.8zM158.7 294.8h22.7V113.4h-22.7V294.8zM215.4 294.8h22.7V113.4h-22.7V294.8z" fill="#c9c9c9"]
    .edit-icon
      svg[xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewbox="0 0 32 32"]
        path[d="M30.3 1.7C29.2 0.6 27.7 0 26.1 0s-3 0.6-4.2 1.7L4.3 19.3c-0.1 0.1-0.2 0.2-0.2 0.4l-4 11c-0.1 0.4 0 0.8 0.2 1C0.5 31.9 0.7 32 1 32c0.1 0 0.2 0 0.3 0l9.9-3.1c0.2 0 0.3-0.1 0.4-0.2l18.6-18.6C31.4 8.9 32 7.4 32 5.9 32 4.3 31.4 2.8 30.3 1.7zM10.1 27.2l-3.7 1.1c-0.2-0.6-0.6-1.2-1-1.7 -0.4-0.4-0.9-0.7-1.4-1L5.7 21H8v2c0 0.6 0.4 1 1 1h1.8L10.1 27.2zM24.8 12.7L12.6 24.9l0.4-1.6c0.1-0.3 0-0.6-0.2-0.8C12.6 22.1 12.3 22 12 22h-2v-2c0-0.6-0.4-1-1-1H7.4L19.3 7.2l0 0c0.7-0.7 1.7-1.1 2.7-1.1s2 0.4 2.7 1.1 1.1 1.7 1.1 2.7C25.9 11 25.5 11.9 24.8 12.7zM28.9 8.6L27.9 9.6c-0.1-1.4-0.7-2.8-1.7-3.8 -1-1-2.4-1.6-3.8-1.7l0.9-0.9 0 0C24.1 2.4 25.1 2 26.1 2s2 0.4 2.7 1.1C29.6 3.9 30 4.8 30 5.9 30 6.9 29.6 7.9 28.9 8.6zM22.3 8.3l-10 10c-0.4 0.4-0.4 1 0 1.4C12.5 19.9 12.7 20 13 20s0.5-0.1 0.7-0.3l10-10c0.4-0.4 0.4-1 0-1.4C23.3 7.9 22.7 7.9 22.3 8.3z" fill="#c9c9c9"]
  - if !card.image.blank?
    .card-photo class=(card.image_style ? 'vertical' : '')
      = image_tag card.image, class: "card-main-photo"
    .hover-slider
      - card.card_items.each do |item|
        = image_tag item.image, class: 'hover-slide', data: { id: "item-#{item.id}" } if !item.image.blank?
  - else
    .card-sub-photo
      - if photos = card.card_items.map{|i| i.image_url}
        = image_tag photos.first, class: 'card-main-photo' if photos.first
      .hover-slider
        - card.card_items.each do |item|
          = image_tag item.image, class: 'hover-slide', data: { id: "item-#{item.id}" } if !item.image.blank?
  .card-content
    .card-header
      h3
        = card.title
    .card-items
      - card.card_items.each do |item|
        = render 'main/card_item.html', locals: { item: item }
    .card-tags
      = card.tags.map{|tag| link_to tag.name, search_path(tag: tag.name)}.join(', ').html_safe
    - unless card.card_logo.blank?
      .card-logo
        = image_tag card.card_logo
