article
  .about-page
    .about-page__title

    .about-page__main
      .about-page__content
        h1
          | Всегда вовремя
        p
          | «Вилком» доставляет продукты питания в магазины, отели и рестораны на территории Большого Сочи с 2000 года.
        p
          | Заказы, принятые до 10:00, доставляем по Сочи в этот же день, остальные — на следующий. В Лазаревское, Вардане, Лоо, Хосту, Адлер и Красную Поляну ездим раз в неделю по расписанию.
        .about-image
        p
          | Для нас главное — качество продуктов. Мы покупаем их у надёжных поставщиков по прямым дистрибьюторским контрактам. Храним в холодильниках промышленного класса. Перевозим в автомобилях с изотермическими кузовами и рефрижераторными установками.
        p
          | У нас нормальный сервис — удобный онлайн-заказ, внимательные операторы, вежливые и опрятные экспедиторы.
        p
          | И конечно, мы предоставляем полный комплект документов: товарные накладные, счета-фактуры, кассовые чеки, сертификаты и ветпечати.
    .about-page__news
      - Post.all.each do |post|
        = render 'news/news_preview', post: post
