article
  
  h1 Все продукты
  p Это полный каталог продуктов, доступных для заказа через сайт. Вы можете сформировать заказ, выбирая продукты в каталоге, а можете оставить заявку в свободной форме, и мы вам перезвоним для уточнения деталей.
  .categories-menu
    - Category.all.each do |cat|
      - if cat.name != "Все продукты"
        .categories-menu-item
          a.scroll-link href="##{cat.id}"
            = cat.name
  - @categories.each do |cat|
    - if cat.name != "Все продукты"
      .category id=cat.id
        h2
          = cat.name
        .category-menu
          = all_tags cat
        .cards
          - cat.cards.each do |card|
            = render 'card', card: card
