article
  
  h1 Доставка продуктов питания в магазины, отели и рестораны Сочи, Лазаревского, Аше, Вардане, Лоо, Хосты, Адлера и Красной Поляны
  p
    a.phone-picture[href="tel:89388881212"]
      = image_tag 'phone-brown.svg', style: 'width: 200px'
  p
    a[href="/about"] О компании


  