article
  .category id="category-#{@category.id}"
    h1
      = @category.name
    .category-menu
      = all_tags @category
    .cards id=('cards_sortable' if admin_user_signed_in?) data-sort-url=sort_cards_path
      - if admin_user_signed_in?
        = render 'cards/add_card', category: @category
      - @cards.each do |card|
        = render 'card', card: card
