.logo
.description
  p
    | © ООО «Вилком», 2000–2017
  p
    | Продукты питания для магазинов, отелей и ресторанов
  a.phone-picture[href="tel:89388881212"]
    = image_tag 'phone-brown.svg'
  = link_to 'О компании', about_path
  = link_to 'Войти', login_path
