= semantic_form_for Order.new, html: { :class => 'validate_form' }  do |f|
  .form-body.order-form
    - if @items
      .order-table
        .order-table-header
          .empty-cell
          .price-cell
            | Цена и количество
          .empty-cell
          .total-cell
            | Стоимость
        - @items.each do |item|
          .order-table-row
            div
              = item.name
              span.order-table-item-meta
                = item.meta.gsub(', ', ' · ')
            div
              span.price data-amount=(item.price.to_f * item.weight.to_f)
                = item.price
              - if item.kilo?
                span.rouble
                  | ₽
              - else
                span.rouble
                  | ₽
            div
              input.item.input-white.item_count_field data-item-id=item.id data-item-weight=item.weight.to_f type="tel" value="1" min="0" max="999"
                = translate_enum item, :units
            div
              - if item.kilo?
                span.cost data-amount=(item.price.to_f * item.weight.to_f)
                  | ≈
                = item.price.to_f * item.weight.to_f
              - else
                span.cost data-amount=item.price
                  = item.price
              span.rouble
                | ₽
            span.close-row
              | x
      .order-table-bottom
        .order-table-bottom-row
          .order-table-bottom-label
            | Сумма:
          .order-table-bottom-value
            span.sum
              = '%.2f' % @amount
            span.rouble
              | ₽
        .order-table-bottom-row
          .order-table-bottom-label
            | Скидка
            span.discount_amount
              = @discount
            | %:
          .order-table-bottom-value
            span.discount
              = '%.2f' %  @percent
            span.rouble
              | ₽
        .order-table-bottom-row
          .order-table-bottom-label
            | К оплате:
          .order-table-bottom-value
            span.cost-final
              = '%.2f' % (@amount - @percent)
            span.rouble
              | ₽
    fieldset
      .order-comment
        - if @items

        - else
          p
            | Опишите свой заказ простыми словами:
        = f.input :comments, as: :text, label: false, input_html: { class: 'order-description-input', placeholder: 'Любые комментарии и пожелания к заказу' }
    fieldset
      .form-row.city-row
        .form-label
          | Адрес
        .form-item.form-city
          - DeliveringCity.all.each do |city|
            .input-item
              label for="input-#{city.id}"
                = city.name
              = f.radio_button :delivering_city_id, city.id, id: "input-#{city.id}"
      .form-row
        .form-label
        .form-item.wide
          = f.input :address, :input_html => { class: 'input-white' }
          .wide-label
            | Улица, дом, корпус, подъезд, код название, место въезда
    fieldset
      .form-row
        .form-label
          | Контактное лицо
        .form-item.wide
          = f.input :contacts, input_html: { class: 'input-white' }
      - if @items
        input#items_ids type="hidden" name='items[ids]' value=@item_ids
        - @item_ids.split(',').each do |id|
          input type="hidden" class=id name="items[counts][#{id}]" value="1"
      .form-row
        .form-label
          | Телефон
        .form-item
          = f.input :phone, input_html: { class: 'input-white phone-mask validate_phone', required: true }
