.order-block.active.js-without-choosen
  p Вы ничего не выбрали.
  p Но можно описать заказ словами:

  form#new_order
    .form-body
      fieldset
        .order-comment
          p
            | Опишите свой заказ простыми словами или сформируйте его 
            = link_to 'в каталоге', all_cats_path
          textarea#text_area_comment


.order-block.order-info
  .order-list
    .order-items-wrapper
    .order-items-count-wrapper
