html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  color: $dark-brown-colour;
  font-size: 20px;
  line-height: 1.2em;
  position: relative;

  min-width: 1000px;

  @media screen and (max-width: 1404px){
		font-size: 19.5px;
	}

	@media screen and (max-width: 1368px){
		font-size: 19px;
	}

  @media screen and (max-width: 1332px){
		font-size: 18.5px;
	}

	@media screen and (max-width: 1296px){
		font-size: 18px;
	}

  @media screen and (max-width: 1260px){
		font-size: 17.5px;
	}

	@media screen and (max-width: 1224px){
		font-size: 17px;
	}

  @media screen and (max-width: 1188px){
		font-size: 16.5px;
	}

	@media screen and (max-width: 1152px){
		font-size: 16px;
	}

  @media screen and (max-width: 1116px){
		font-size: 15.5px;
	}

	@media screen and (max-width: 1080px){
		font-size: 15px;
  }
  
  @media screen and (max-width: 1044px){
		font-size: 14.5px;
	}

  @media screen and (max-width: 1008px){
		font-size: 14px;
	}


	@media all and (max-device-width: $mobile) {
		min-width: auto;
		font-size: 14px;
	}
}

main {
  width: 68%;
  max-width: 80em;
  padding: 1em;
}

article {
  margin: .6em;
  
  a {
    color: $dark-brown-colour;
    border-bottom-color: $dark-brown-colour-transparent;

    &:hover {
      color: $link-hover-colour;
      border-bottom-color: $link-hover-underline-colour;
    }
  }

}

a {
  color: $link-colour;
  text-decoration: none;
  border-bottom: solid 1px $link-underline-colour;

  &:hover {
    color: $link-hover-colour;
    border-bottom-color: $link-hover-underline-colour;
  }

  &.hovered {
    color: $link-hover-colour;
    border-bottom-color:  $link-hover-underline-colour;
  }

  &.scroll-link {
    border-bottom-style: dashed;
  }
}

p {
  margin-top: .5em;
}

h1 {
  font-size: 2.3em;
  line-height: 1.2em;
  margin-bottom: .4em;
  font-weight: normal;
}

h2 {
  font-size: 1.8em;
  line-height: 1.2em;
  font-weight: normal;
}

h3 {
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: normal;
}

h4 {
  font-family: $primary-font;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.2em;
}

li {
  list-style-type: none;
}
