$text-colour: rgba(30, 30, 30, 1);
$light-blue: rgba(42, 127, 221, 1);
$link-colour: rgba(167, 85, 51, 1);
$link-underline-colour: rgba(167, 85, 51, .3);
$link-hover-colour: rgba(255, 110, 0, 1);
$link-hover-underline-colour: rgba(255, 110, 0, 0.3);

$light-brown-colour: rgba(167, 85, 51, 1);
$light-brown-colour-transparent: rgba(167, 85, 51, .3);
$light-grey-colour: rgba(255, 255, 255, .3);

$grey-brown-colour: rgba(230, 220, 210, 1);
$grey-brown-colour-transparent: rgba(230, 220, 210, .5);
$grey-brown-colour-dark: rgba(180, 170, 160, .6);

$dark-brown-colour: rgba(75, 35, 15, 1);
$dark-brown-colour-transparent: rgba(75, 35, 15, .3);

$orange-colour: rgba(235, 80, 40, 1);
$bright-orange: rgba(255, 120, 60, 1);
$orange-colour-transparent: rgb(255, 153, 76);
$light-orange-colour: rgba(255, 80, 40, .8);
$light-orange-colour-transparent: rgba(255, 120, 60, 1);
$light-orange-colour-transparent2: rgba(255, 80, 40, .1);

$white-transparent: rgba(255, 255, 255, 0.3);
