@font-face {
  font-family: 'BigCity Grotesque Pro Regular 475';
  src: font-url('BigCity-Grotesque-Pro-Regular-475-Web.eot');
  src: font-url('BigCity-Grotesque-Pro-Regular-475-Web.eot#iefix') format('embedded-opentype'),
       font-url('BigCity-Grotesque-Pro-Regular-475-Web.woff2') format('woff2'),
       font-url('BigCity-Grotesque-Pro-Regular-475-Web.woff') format('woff'),
       font-url('BigCity-Grotesque-Pro-Regular-475-Web.ttf') format('truetype'),
       font-url('BigCity-Grotesque-Pro-Regular-475-Web.svg#font') format('svg');

  font-weight: normal;
  font-style: normal;
}
