/* TODO: REFACTOR THIS */

.promoblocks {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 90%;
  max-width: 900px;
  font-size: 0;

  .promoblock {
    display: inline-block; //временно, потом position: absolut и расставляющий по местам скрипт
    vertical-align: top;

    width: 37%;

    margin-right: 3%;
    margin-bottom: 30px;

    font-size: 14px;
    line-height: 18px;

    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);

    color: $dark-brown-colour;
    cursor: pointer;

    .promoblock-photo {
      img {
        width: 100%;
        display: block;
      }
    }

    .promoblock-content {
      padding: 20px 20px;

      a {
        color: $dark-brown-colour;
        border-bottom-color: $dark-brown-colour-transparent;

        &:hover {
          color: $link-hover-colour;
          border-bottom-color: $link-hover-underline-colour;
        }

        &.hovered {
          color: $link-hover-colour;
          border-bottom-color:  $link-hover-underline-colour;
        }
      }

      .promoblock-list {
        margin-top: 15px;

        >div {
          display: inline-block;
          vertical-align: top;
          margin-bottom: 5px;
          margin-right: 10px;
        }
      }
    }

    &.huge {
      width: 97%;
      position: relative;

      .promoblock-photo {
        display: inline-block;
        vertical-align: top;
        text-align: right;
        overflow: hidden;

        img {
          display: inline-block;
          width: 75%;
          margin-bottom: -10px;
        }
      }

      .promoblock-content {
        width: 20%;
        position: absolute;
        top: 0;
        left: 0;

        .promoblock-list {
          margin-top: 15px;
          font-size: 16px;
          line-height: 20px;

          >div {
            display: block;
            margin-bottom: 10px;
          }
        }
      }
    }

    &.big {
      width: 57%;
    }

    &.small {
      width: 17%;
    }
  }
}

.benefits {
  margin-top: 40px;
  color: $dark-brown-colour;

  .benefit {
    width: 29%;
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
  }
}

.categories-menu {
  margin-top: 20px;
  margin-bottom: 60px;

  .categories-menu-item {
    display: inline-block;
    vertical-align: top;
    width: 27%;
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

.category {
  margin-top: 1em;

  .category-menu {
    margin-top: 1em;
    

    .category-menu-item {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 5px;

      a {
        display: inline-block;
        vertical-align: top;
        border-bottom: none;
      }

      &::after {
        display: inline-block;
        vertical-align: top;
        font-size: 30px;
        margin-left: 12px;
        margin-right: 7px;
        opacity: .8;
        content: '◦';
      }
    }
  }
}

.cards {
  margin-top: 30px;
}

.about-page {
  font-size: 0;
  color: $dark-brown-colour;

  &__inner, &__news, &__main {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
  }

  &__main {
    width: 100%;
  }

  &__inner {
    width: 65%;
  }

  &__news {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 40px 0px;
    border-top: 1px dashed #ff6e00;
    margin-top: 40px;
  }

  &__title {
    font-size: 50px;
    margin-top: 50px;
    width: 70%;
    line-height: normal;
    color: #472513;
    margin-bottom: 40px;
  }
}

.about-image {
  width: 80%;
  height: 400px;
  background-image: image-url("map.png");
  background-size: cover;
}

.news-page {
  &__title {
    max-width: 80%;
    color: #472513;
    line-height: normal;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  &__meta {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__content {
    width: 100%;
  }

  &__slider {
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__footer {
    display: flex;
    justify-content: flex-between;
    align-items: flex-start;
    padding: 40px 0px;
    border-top: 1px dashed #ff6e00;
    margin-top: 40px;
  }

  &__categories-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-left: 40px;
    padding: 10px;

    a {
      width: 100%;
      cursor: pointer;
    }
  }

  .news-date {
    color: #a75533;
  }

  .news-category {
    &:hover {
      &:before {
        color: $orange-colour;
      }
    }

    &:before {
      display: inline-block;
      vertical-align: middle;
      font-size: 30px;
      margin-left: 12px;
      margin-right: 7px;
      opacity: 0.8;
      color: #472513;
      content: '◦';
    }
  }
}

.news-page--index {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  .post-preview {
    display: inline-block;
  }

  &__post {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 150px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid $orange-colour;

    &-image {
      min-width: 200px;
      max-width: 150px;
      height: 150px;
      position: relative;

      img {
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
        left: 50%;
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-container {
      width: 75%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
    }

    &-date {
      color: #a75533;
    }

    &-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-text {
      width: 100%;
      text-align: left;
    }
  }
}

.post-preview {
  width: 365px;
  padding: 10px;

  &__header {
    &__date {
      color: #472513;
      margin-right: 5px;
    }
  }

  &__images {
    padding: 10px 5px;
    min-height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__image {
    position: relative;
    height: 50px;
    width: 80px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &.vertical {
      width: 50px;
      height: 80px;
    }

    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &:hover {
    opacity: .9;
  }
}

.post {
  width: 100%;

  &__images {
    max-width: 100%;
    font-size: 0;

    img {
      width: 100%;
    }
  }

  &__image {
    display: inline-block;
    width: 24%;

    &:not(:first-child) {
      margin-left: 1%;
    }
  }
}

.m-0a {
  margin: 0 auto;
}
