.content
  = form_tag signin_path, method: 'post', class: 'login-form validate_form' do |f|
    .form-body
      h2
        | Вход для постоянных клиентов:
      fieldset
        .form-row
          .form-label
            | Телефон
          .form-item
            = text_field_tag :phone, params[:phone] ,class: 'input-white phone-mask validate_phone', required: true
        .form-row

      fieldset
        .form-row style=(@show_password ? '' : 'display: none;')
          .form-label
            | Пароль
          .form-item
            = text_field_tag :password, nil ,class: 'input-white'
.form-footer
  - if @show_password
    .form-button
      input[type="submit" name="submit" value="Войти"]
    .form-button-caption
      |  Войти с одноразовым паролем.
  - else
    .form-button
      input.validate_form_submit[type="submit" name="submit" value="Продолжить →"]
    .form-button-caption
      |  Пришлём смс-пароль
