.post-preview
  .post-preview__header
    - title = Nokogiri::HTML.fragment(post.title).css('a')
    = title.to_s.html_safe
  = link_to news_path(id: post.get_alias) do
    .post-preview__images
      - post.post_images.first(4).each do |image|
        .post-preview__image
          = image_tag image.image
