article.news-page
  .news-page__title
    = strip_tags(@new.title)
  .news-page__meta
    .news-date
      = I18n.localize(@new.created_at, :format => :month)
    - @new.categories.each do |category|
      .news-category
        = link_to category.name, show_path(category.id)
  - if @new.post_images.present?
    .news-page__slider
      .fotorama data-arrows="true" data-click="true" data-nav="thumbs" data-loop="true" data-width="900" data-maxwidth="100%" data-ratio="16/9"
        - @new.post_images.each do |image|
          = image_tag image.image.url
  .news-page__content
    = @new.first_text_section.html_safe
  .news-page__footer
    .news-page__more-section
      - Post.last(3).each do |post|
        = render 'news/news_preview', post: post
      = link_to 'Все новости', news_index_path, class: 'underlined'
    .news-page__categories-section
      - @new.categories.each do |category|
        = link_to category.name, show_path(category.id)
