= form_tag parse_card_items_path, :method => :post, multipart: true, class: 'import-form-button' do
  = submit_tag 'Импортировать'
  = file_field_tag 'items_table', accept: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, .csv, application/vnd.ms-excel', required: true
