h3
  | Заказ №
  = @order.id
p
  | Город:
  =  @order.delivering_city.name if @order.delivering_city.present?
p
  | Адрес:
  =  @order.address
p
  | Контактное лицо:
  =  @order.contacts
p
  | телефон:
  =  @order.phone
p
  | Комментарий:
  =  @order.comments
- unless @order.card_items.blank?
  hr
  h3
    | Заказанные товары
  - @order.card_items.each do |item|
    p
      span
        = item.name
        | ,
        = item.price
        | руб.
