.add_card_material data-create-url="#{ new_card_path({category_id: @category.id,:format => :json})}"
  svg height="512" viewbox=("0 0 510 510") width="512" xmlns="http://www.w3.org/2000/svg"
    path d=("M255 0C114.8 0 0 114.8 0 255s114.8 255 255 255 255-114.7 255-255S395.3 0 255 0zM382.5 280.5h-102v102h-51v-102h-102v-51h102v-102h51v102h102V280.5z") fill="#ff6e00"
.create_card.material data-create-url="#{ new_card_path({category_id: @category.id,:format => :json})}"
