- card ||= @card

.card class=(card.big? ? 'double' : '') data-card-id=card.id data-priority=card.priority data-edit-url=edit_card_path(card.id, format: :json)
  - unless card.image.blank?
    .card-photo class=(card&.image_style ? 'vertical' : '')
      = image_tag card.image
  .card-content
    .card-header
      h3
        = card.title
    .card-items
      - card.card_items.each do |item|
        = render 'main/card_item.html', locals: { item: item }
    .card-tags
      = card.tags.map{|tag| link_to tag.name, search_path(tag: tag.name)}.join(', ').html_safe
    - unless card.card_logo.blank?
      .card-logo
        = image_tag card.card_logo
