- card_item = f.object
.card-item
  =f.input :name, :input_html => { :class => 'item-name', placeholder: "Название"}, label: false
  =f.input :meta, :input_html => { :class => 'item-unit', placeholder: "Вес; Количество;"}, label: false
  - if card_item.id.blank?
    -key = [*('a'..'z'),*('A'..'Z')].shuffle[0,50].join
    =f.input :temp_key, input_html: {value: key}, as: 'hidden'
    div class=("dropzone subimg-upload #{card_item.card.image_style ? 'vertical' : '' if card_item.card}") data-action=create_image_path({temp_key: key, type: "image"})
  - else
    =f.input :temp_key, as: 'hidden'
    div class=("dropzone subimg-upload #{card_item.card.image_style ? 'vertical' : '' if card_item.card}")  data-action=update_image_card_path({id: card_item.card.id, type: 'image', card_item: card_item.id})
      - unless card_item.image.blank?
        .card-sub-photo
          = image_tag card_item.image, data: {name: card_item.image.url.split('/').pop(), size: card_item.image.size}
  .item-price
    - unless card_item.image.blank?
      .remove-subimg-wrapper
        a.remove_subimg data-card="#{card_item.card.id}" data-item="#{card_item.id}" href="#"  
          |Удалить изображение
    =f.input :price, :input_html => { :class => 'item-price-value', placeholder: "Цена"}, label: false
    |&thinsp;
    span.rouble
      |₽
    =f.select :units, enum_option_pairs(CardItem, :units), {} ,{ :class => 'item-unit-select item_units_field' }
    a.remove_item href="#"
      |Удалить
  =f.input :vendor_code, :input_html => { :class => 'item-price-value', placeholder: "Артикул"}, label: false
  =f.input :weight, :input_html => { :class => 'item-price-value card-weight-input item_weight_field', placeholder: "Средний вес"}, label: false
  =f.input :id, as: "hidden", :input_html => { :class => 'card_items_id'}
  =f.input :priority, as: "hidden", :input_html => { :class => 'card_items_priority'}