.card class=(card.big? ? 'double' : '')
  = semantic_form_for card, remote: true, html: { class: "card-form #{card.id.blank? ? 'new_card' : 'update_card'}" } do |f|
    .checkbox-group
      .checkbox
        = f.check_box :image_style
        | Вертикальные изображения
      .checkbox
        = f.check_box :size_cd
        | Двойная
    = f.input :category_id, as: 'hidden'
    = f.input :temp_key, as: 'hidden'
    - if !card.id.blank?
      .dropzone.image-upload class=(card&.image_style ? 'vertical' : '') data-action=update_image_card_path(id: card.id, type: 'image')
    - else
      .dropzone.image-upload class=(card&.image_style ? 'vertical' : '') data-action=create_image_path(temp_key: card.temp_key, type: 'image')
    - unless card.image.blank?
      .card-photo
        = image_tag card.image, data: { name: card.image.url.split('/').pop(), size: card.image.size }
      a.remove-image href="#" data-card=card.id
        | Удалить
    .card-content
      = f.input :title, label: false, input_html: { class: 'card-form-title', placeholder: 'Заголовок' }
      #card_items_sortable.card-items
        = f.semantic_fields_for :card_items do |card_item|
          = render 'card_item_fields', f: card_item
        = link_to_add_association 'Добавить', f, :card_items, :'data-association-insertion-node' => '.card-item:last', :'data-association-insertion-method' => 'after'
      = f.text_field :tag_list, label: false, 'data-list': tags, 'data-multiple': '', class: 'card-form-tags awesomplete', placeholder: "#tag, #tag, #tag", value: card.tag_list.join(', ')
      .card-logo
        - unless card.card_logo.blank?
          = image_tag card.card_logo, data: { name: card.card_logo.url.split('/').pop(), size: card.card_logo.size }
      - if card.id.blank?
        .dropzone.logo-upload data-action=create_image_path(temp_key: card.temp_key, type: 'logo')
      - else
        .remove-logo-wrapper
          .dropzone.logo-upload data-action=update_image_card_path(id: card.id, type: 'logo')
        - if card.card_logo.present?
          a.remove_logo href="#" data-card=card.id
      .save-button
        button[type="submit"]
          | Сохранить
