$editicon: $light-orange-colour-transparent;
$editicon-hover: $light-orange-colour;
$editicon-bg: rgba(0,0,0,0.2);
$editicon-height: 18px;
$editicon-width: $editicon-height;
$editicon-padding: 5px;

$delicon: $light-orange-colour-transparent;
$delicon-hover: $light-orange-colour;
$delicon-bg: rgba(0,0,0,0.2);
$delicon-height: 25px;
$delicon-width: $delicon-height;
$delicon-padding: 5px;

.card {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  padding-right: 0;
  box-sizing: border-box;

  margin-bottom: 20px;
  box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
  background-color: white;
  overflow: hidden;

  &:hover {
    box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.15);
  }


  &.double {
    padding-right: 0;
    width: 620px;

    .card-photo, .card-sub-photo{
      width: 100%;
    }
  }

  .checkbox-group{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .card-photo, .card-sub-photo {
    img {
      width: 100%;
    }
  }

  .card-content {
    padding: 20px 5px;

    .card-header {
      margin-left: 15px;
    }

    .card-tags {
      margin-top: 10px;
      margin-left: 15px;
      font-size: 14px;
      color: $light-brown-colour;

      a {
        display: inline-block;
        vertical-align: top;
        border-bottom: none;
        color: $light-brown-colour;

        &:hover {
          color: $link-hover-colour;
        }
      }
    }

    .card-items {
      margin-top: 10px;
      margin-bottom: 20px;

      .card-item {
        display: inline-block;
        vertical-align: top;
        width: 250px;
        border-bottom: none;
        padding: 5px 10px 5px 15px;
        border-radius: 4px;
        line-height: 21px;
        font-size: 0;
        transition: .5s padding-left ease;

        .checkmark {
          display: inline-block;
          vertical-align: top;
          width: 0px; height: 15px;
          background-image: image-url("checkmark.svg");
          background-repeat: no-repeat;
          background-size: 15px 15px;
          margin-right: 0px;
          transition: margin-right .1s ease, width .1s ease;
        }

        .item-unit-select{
          width: 55px;
          margin-left: 10px;
        }

        .item {
          display: inline-block;
          vertical-align: top;
          font-size: 14px;

          .item-unit {
            margin-left: 0px;
            font-size: 11px;
            color: $light-brown-colour;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
        }

        .item-price {
          font-size: 14px;
        }

        &:hover {
          background-color: $light-orange-colour-transparent2;
        }

        &.checked {
          color: $link-hover-colour;
          position: relative;

          .item-name{
            padding-left: 20px;
          }

          .checkmark {
            width: 15px;
            margin-right: 3px;
            position: absolute;
          }
        }

        &.active{
          background-color: $light-orange-colour-transparent2;
        }
      }
    }

    .card-logo {
      margin-top: 10px;
      margin-left: 15px;

      img {
        height: 30px;
      }
    }
  }
}

.card {
  position: relative;

  .card-photo, .card-sub-photo, .image-upload {
    position: relative;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 100%;
      object-fit: cover;
    }

    &.vertical {
      height: 450px !important;
      width: 100% !important;

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }
    }
  }

  .card-main-photo {
    min-height: 200px;
  }

  .edit-icon {
    display: none;
    position: absolute;
    top: 10px;
    right: 45px;
    padding: 10px;
    border-radius: 5px;
    z-index: 10;

    svg {
      display: flex;
      align-self: center;
      cursor: pointer;
      width: $editicon-width;
      height: $editicon-height;

      path {
        fill: $editicon;
      }
    }

    &:hover {
      background: $editicon-bg;

      svg {
        path {
          fill: $editicon-hover;
        }
      }
    }
  }

  &:hover {
    .edit-icon, .del-icon {
      display: block;
    }
  }

  .del-icon {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: $delicon-padding;
    border-radius: 5px;
    z-index: 10;

    svg {
      display: flex;
      align-self: center;
      cursor: pointer;
      width: $delicon-width;
      height: $delicon-height;

      path {
        fill: $delicon;
      }
    }

    &:hover {
      background: $delicon-bg;

      svg {
        path {
          fill: $delicon-hover;
        }
      }
    }
  }

  .remove-logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .remove-logo {
      margin-right: 20px;
    }
  }

  .remove-subimg-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  .checkbox {
    padding: 5px 0px;
  }

  .card-weight-input {
    display: none;
    width: 100%;
    box-sizing: border-box;
    padding: 9px 9px 6px;
    border: 2px solid rgba(230, 220, 210, 0.5);
    border-radius: 4px;
    font-size: 16px;
    font-family: "PT Sans Caption", Arial, sans-serif;
    color: #4b230f;
  }
}

.hover-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  .hover-slide {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.hover-slider-cont {
  &:hover {
    .card-main-photo {
      visibility: hidden;
    }

    .hover-slider {
      display: block;
    }
  }
}
