$background-color: rgba(0,0,0,.0);
$addcard-bg: transparent;
$addcard-bg-hover: $light-orange-colour-transparent2;
$addcard-border-color: $light-orange-colour;
$addcard-text: $light-orange-colour-transparent;
$addcard-text-hover: $light-orange-colour;
$addcard-height: 380px;
$addcard-width: 296px;

.add_card_material {
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  right: 25%;
  bottom: 10%;

  svg {
    width: 55px;
    height: 55px;
    cursor: pointer;
  }
}

.create_card {
  &.material {
    height: 1px;
    width: 1px;
    position: fixed;
    left: 30%;
    top: 50%;
    background: transparent;
  }
}

#card_items_sortable, #cards_sortable {
  touch-action: manipulation;
}

.quick-card-editor {
  display: none;
  background: $background-color;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0px;
  position: absolute;
  z-index: 9999;

  &.active {
    display: block;
  }
}

form.card-form {
  width: 100%;
  min-width: 0px;
  position: relative;

  .cardsize-field{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
    padding-right: 14px;
    margin-bottom: 15px;
  }

  .card-photo, .card-sub-photo {
    display: none;
  }

  div.awesomplete {
    padding: 0px 13px;
    box-sizing: border-box;
  }

  li.input {
    padding-left: 12px;
    padding-right: 14px;
  }

  .card-form-title {
    font-size: 22px;
  }

  .save-button {
    margin-top: 20px;
    margin-left: 15px;

    button {
      display: inline-block;
      padding: 7px 25px;
      color: white;
      background-color: $orange-colour;
      border-bottom: none;
      border-radius: 4px;
      border-color: transparent;
      font-family: $primary-font;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: $orange-colour-transparent;
      }
    }
  }

  .card-photo, .card-logo {
    position: relative;
    height: 0px;
    overflow: hidden;

    img {
      position: absolute;
    }
  }

  .card-content {
    .card-items {
      .card-item {
        padding: 10px 0px;

        input {
          margin-bottom: 3px;
        }

        .item-price {
          .input {
            width: 30%;
            display: inline-block;
            padding-right: 1px;
          }

          .rouble:after {
            display: none;
          }
        }

        a.remove_item {
          float: right;
          display: inline-block;
          margin-top: 10px;
          margin-right: 19px;
          text-decoration: none;
        }
      }

      > a {
        margin-left: 14px;
        text-decoration: none;
      }
    }
  }
}

.dropzone{
  border: 1px dashed $orange-colour;
  padding: 0px;
  height: 180px;
  .dz-message {
    color: $orange-colour;
    padding: 30px;
  }
  .dz-preview{
    margin: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    .dz-image{
      border-radius: 0px;
      width: 100%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .dz-error-message{
      top: 135px;
      left: 50%;
      margin-left: -70px;
    }
  }
  &.subimg-upload{
    overflow: hidden;
    max-width: 90%;
    margin: 5px auto;
    .dz-message{
      font-size: 14px
    }
  }
  &.logo-upload{
    width: 80px;
    height: 80px !important;
    min-height: 0px;
    margin: 10px 0px 0px 14px;
    .dz-message{
      margin: 1.8em 0;
      padding: 0px;
    }
    .dz-preview{
      min-height: 0px;
    }
    .dz-image img{
      height: auto !important;
    }
    .dz-details{
      display: none;
    }
  }
}

.awesomplete {
  width: 100%;

  mark {
    background: transparent !important;
  }

  ul {
    box-shadow: none;

    &:before {
      display: none;
    }

    li {
      &:hover {
        background-color: $light-orange-colour-transparent2 !important;
      }

      &[aria-selected="true"] {
        background-color: $light-orange-colour-transparent !important;
      }
    }
  }
}
