footer {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin-top: 200px;
  padding-left: 2%;
  padding-bottom: 30px;
  color: $light-brown-colour;

  .logo {
    display: inline-block;
    vertical-align: top;
    width: 80px;
    height: 80px;
    background-image: image-url("vilcomlogo.png");
    background-size: 100%;
  }

  .description {
    width: 250px;
    display: inline-block;
    vertical-align: top;
    margin: 11px 30px 0 5px;
    font-size: 14px;
    line-height: 18px;

    p {
      margin-top: 0;
      margin-bottom: 5px;
    }

    .phone-picture {
      display: block;
      width: 180px;
      margin-top: 10px;
      margin-bottom: 5px;
      border-bottom: 0;

      img {
        width: 100%;
        display: inline-block;
      }
    }

    a {
      margin-right: 5px;
    }
  }
}
