textarea:focus, input:focus, select:focus, button {
  outline: none;
}

input[type=button], input[type=submit] {
  border: 0;
  cursor: pointer;
  background: grey;
  color: #fff;
  height: 33px;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;

  margin-bottom: 10px;
  margin-right: 20px;
  margin-top: 10px;

  border-radius: 4px;
  border-top: 3px solid transparent;
  font: 16px/22px $primary-font;

  -webkit-appearance: none;

  background-color: $dark-brown-colour;

  &:hover {
    background-color: $light-brown-colour;
  }

  &:active {
    border-top: 3px solid $dark-brown-colour;
    padding-top: 4px;
  }

  &:disabled {
    background-color: grey;
  }
}


input[type=text], input[type='password'], input[type='email'], input[type='tel']  {
  width: 100%;
  box-sizing: border-box;
  padding: 9px 9px 6px;
  border: 2px solid $grey-brown-colour-transparent;

  border-radius: 4px;
  font-size: 16px;
  font-family: $primary-font;

  color: $dark-brown-colour;

  &:focus {
    border-color: $grey-brown-colour;
  }

  &.invalid {
    border-color: red;
    color: red;
  }
}

textarea {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid $grey-brown-colour-transparent;
  border-radius: 4px;
  padding: 9px;
  font-size: 16px;
  font-family: $primary-font;
  color: $dark-brown-colour;

  resize: none;

  &:focus {
    border-color: $grey-brown-colour;

  }
}

select {
  width: 100%;
  color: $dark-brown-colour;
  border: 2px solid $grey-brown-colour-transparent;
  border-radius: 4px;
  background: transparent;
  background-image: url('../images/select-arrow.svg');
  background-size: 30px;
  background-position: right 3px;
  background-repeat: no-repeat;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  font-family: $primary-font;
  font-size: 16px;
  padding: 9px 8px 6px 8px;

  &:hover {

    background-position: right -22px;
    cursor: pointer;
  }
}

// Это абстрактное описание формы

form {
  width: 100%;

  .form-body {
    color: white;

    fieldset {
      margin-bottom: 1em;

      input,
      textarea {
        color: $dark-brown-colour !important;
      }

      .order-comment {
        textarea {
          margin-top: 10px;
          margin-right: 10px;
          width: 90%;
          height: 6em;
          color: $dark-brown-colour !important;
        }

        textarea::-webkit-input-placeholder {
          color: white;
        }
      }

      .form-row {
        margin-top: 10px;
        font-size: 0;

        .form-label {
          display: inline-block;
          vertical-align: top;
          width: 20%;
          padding-top: 10px;
          font-size: 16px;
        }

        .form-item {
          display: inline-block;
          vertical-align: top;
          width: 13rem;

          &.wide {
            width: 70%;
          }
        }
      }
    }
  }

  .form-footer {
    background-color: $light-orange-colour;
    padding: 30px 30px 50px;
    color: #fff;

    .form-button {
      display: inline-block;
      vertical-align: top;
      margin-left: 20%;
    }

    .form-button-caption {
      display: inline-block;
      vertical-align: top;
      margin-top: 16px;
    }
  }

  .rouble {
    position: relative;
    margin-left: 3px;

    &::after {
      content: '';
      position: absolute;
      left: 0px;
      top: 15px;
      width: 0.6em;
      border-top: 2px solid #fff !important;
    }
  }

  .order-button {
    margin-top: 20px;

    a {
      display: inline-block;
      padding: 7px 25px;
      color: white;
      background-color: $dark-brown-colour;
      border-bottom: none;
      border-radius: 4px;

      &:hover {
        background-color: $light-brown-colour;
      }
    }
  }
}

.order-form {
  

  input, textarea {
    background: $orange-colour;
  }

  .order-table {
    margin-top: 50px;

    &-header {
      display: flex !important;
      flex-flow: row nowrap;
    }
  }

  .empty-cell {
    display: block !important;
    flex: 1 1 auto !important;
    width: 50%;
  }

  .price-cell {
    width: 20%
  }

  .form-city {
    display: flex !important;
    flex-flow: row nowrap;
    width: auto !important;
  }

  .city-row {
    display: flex !important;
    flex-flow: row nowrap;
    align-items: center;

    .form-label {
      padding-top: 0 !important;
    }
  }

  .input-item {
    display: flex !important;
    flex-flow: row nowrap;

    input {
      display: none;
    }

    label {
      font-size: 14px;
      border: 1px solid rgba(230, 220, 210, 0.5);
      cursor: pointer;
      padding: 5px 10px;
      background: transparent;

      &:not(:first-child) {
        border-left: none;
      }
    }

    ._active {
      background: rgba(230, 220, 210, 0.5);
    }

    &:last-child {
      label {
        border-radius: 0 10px 10px 0;
      }
    }

    &:first-child {
      label {
        border-radius: 10px 0 0 10px;
      }
    }
  }

  .wide-label {
    font-size: 12px;
    color: #fff;
  }
}

.order {
  input,
  textarea, .input-white, .input-white#order_comments {
    color: #fff !important;
  }
}

.order-items-count-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  .order-items-count {
    font-size: 62px;
    padding: 25px 0 10px 0;
  }

  span {
    opacity: 0.8;
    font-weight: lighter;
    font-size: 14px;
    padding-left: 5px;
  }
}


.order-table {
  margin-bottom: 1.5625em;
  display: block !important;

  .order-table-item-meta {
    font-weight: lighter;
    color: #fff;
    opacity: 0.6;
  }

  .order-table-row {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid $light-grey-colour;
    margin-top: 5px;

    &:first-child {
      margin-top: 0;
    }

    &:hover {
      .close-row {
        opacity: 1;
      }
    }

    &::before {
      content: '';
      width: 100%;
      height: 2px;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      display: none;
    }

    .close-row {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -30px;
      font-size: 18px;
      padding: 5px;
      cursor: pointer;
      opacity: 0;
      display: block;
      user-select: none;

      &:hover {
        color: #f00;
      }
    }

    &>div {
      padding: 10px 0 5px 10px;

      &:nth-child(1) {
        min-width: 50%;
        width: auto;
        padding: 10px 20px 5px 0;
      }

      &:nth-child(2) {
        min-width: 9%;
        padding: 5px 0;

        text-align: left;
      }

      &:nth-child(3) {
        width: 15%;
        padding: 5px 0;
        text-align: left;

        input[type=tel] {
          width: 2.5em;
          box-sizing: border-box;
          padding: 0.1em 0.06em 0.06em 0.3em;
          background-color: transparent !important;

          border: 1px solid $grey-brown-colour-transparent;
          border-radius: 0.15em;
          color: $dark-brown-colour;

          font-size: 1.1em;
          font-family: $primary-font;
        }
      }

      &:nth-child(4) {
        width: 20%;
        text-align: right;
        position: relative;
        font-size: 21px;
      }
    }
  }

  ._removed {
    cursor: pointer;

    &::before {
      display: block !important;
    }
  }

  .order-table-header {
    font-size: 14px;

    &>div {
      &:nth-child(1) {
        min-width: 50%;
        width: auto;
        padding: 10px 20px 5px 0;
      }

      &:nth-child(2) {
        width: 20%;
        text-align: left;
      }

      &:nth-child(3) {
        width: 17%;
        text-align: left;
      }

      &:nth-child(4) {
        text-align: right;
        width: 20%;
      }
    }
  }
}

.order-table-bottom {
  margin-top: 25px;
  margin-bottom: 35px;
  text-align: right;

  .order-table-bottom-row {
    margin-bottom: 10px;

    .order-table-bottom-label {
      display: inline-block;
      text-align: left;
      width: 6em;
    }

    .order-table-bottom-value {
      display: inline-block;
      font-size: 21px;
      width: 8em;
    }
  }
}