header {
  display: flex;
  width: 71%;
  
  padding: 1em;
  color: $light-brown-colour;

  .logo {
    display: inline-block;
    min-width: 4.3em;
    height: 4.3em;
    background-image: image-url("vilcom-logo.svg");
    background-size: 100%;
    border-bottom: none;
  }

  a.logo {
    &:hover {
      background-position: 0 -4.3em;
      border-bottom: none;
    }
  }

  .menu {
    margin-top: .5em;
    margin-left: .8em;
    width: 50em;
    max-width: 80em;

    .menu-item {
      display: inline-block;
      vertical-align: top;
      margin-right: 1em;
      margin-bottom: .5em;

      a {
        color: $light-brown-colour;
        border-bottom-color: $light-brown-colour-transparent;
        &:hover {
          color: $link-hover-colour;
          border-bottom-color: $link-hover-underline-colour;
        }
      }
    }
  }
}
