.order-box {
  position: fixed;
  top: 0;
  right: 0;

  width: 18em;
  height: 100%;
  min-width: 240px;
  box-sizing: border-box;
  background-color: $orange-colour;
  color: white;

  overflow: hidden;

  transition: width .3s ease;

  a {
    color: white;
    border-bottom-color: $white-transparent;

    &:hover {
      opacity: 0.9;
    }
  }

  &.wide {
    width: 54em;

    .order-full-view {
      left: 0;
    }

    .order-compact-view {
      right: -18em;
    }
  }

  .order-full-view {
    position: absolute;
    top: 0;
    left: -54em;
    right: 0;
    width: 54em;
    transition: left .3s ease;
    padding: 1em;
  }

  .order-compact-view {
    position: absolute;
    top: 0;
    right: 0;
    width: 18em;
    transition: right .3s ease;
    padding: 1em;

    .order-block {
      display: none;
      overflow: hidden;

      &.active {
        display: inline-block;
        width: 100%;
      }

    }

    .order-link {
      padding: 7px 25px;
      background-color: $light-orange-colour-transparent;
      border-radius: 4px;

      &:hover {
        background-color: $light-orange-colour;
      }
    }

    .order-info {
      &__title {
        font-size: 24px;
      }

      .order-list {
        display: block;
        margin-bottom: 10px;

        .child {
          margin-bottom: 2px;
          padding: 5px 0;
          position: relative;
          cursor: pointer;
          line-height: 1;

          &:not(:last-child) {
            border-bottom: 1px solid rgba(255, 255, 255, .4);
          }

          &:first-child {
            margin-top: 20px;
          }

          &:after {
            content: '+';
            font-size: 25px;
            font-family: sans-serif;
            font-weight: lighter;
            color: #fff;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-60%) rotate(45deg);
            line-height: 0.6;
            opacity: 0;
            transition: opacity 0.2s ease;
            will-change: opacity;
          }

          &:hover {
            &:after {
              opacity: 1;
            }
          }

          .list-item-name {
            user-select: none;
            max-width: 91%;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            line-height: normal;
            vertical-align: middle;
          }

        }

        ._removed {


          .js-list-item {
            position: relative;

            &:before {
              content: '';
              position: absolute;
              top: 50%;
              left: 0;
              width: 100%;
              border-bottom: 2px solid #fff;
              transform: translateY(-50%);
            }
          }
        }
      }

      .order-sum {
        margin-top: 20px;
        font-size: 36px;
        line-height: 36px;
        border-top: 2px solid $white-transparent;
        padding-top: 10px;

        .rouble {
          position: relative;

          &::after {
            position: absolute;
            left: 0;
            top: 22px;
            width: 21px;
            border-top: 2px solid white;
            content: '';
          }
        }
      }
    }
  }

  .order-footer {
    position: absolute;
    height: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    background-color: rgba(255, 255, 255, .05);

    .order-button {
      margin-top: 20px;
      display: block;
      width: 300px;

      a {
        display: inline-block;
        width: 95%;
        padding: .6em 1em .8em;
        background-color: $light-orange-colour-transparent;
        border-bottom: none;
        border-radius: 4px;
        text-align: center;
        box-sizing: border-box;
        color: white;

        &:hover {
          background-color: $light-orange-colour;
        }
      }
    }
  }
}
