- set_meta_tags title: 'Вилком. Поставщик продуктов питания для кафе и ресторанов'

- content_for :stylesheets do
  = stylesheet_link_tag 'application', media: :all

- content_for :javascripts
  = javascript_include_tag 'application'

- content_for :header
  = render 'components/header'

- content_for :footer
  = render 'components/footer'

- content_for :body
  = render 'components/sidebar'
  .quick-card-editor

doctype html
html
  head
    meta charset='utf-8'
    meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'
    meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'

    = display_meta_tags
    = csrf_meta_tags

    = favicon_link_tag 'favicon32.png', type: 'image/png'

    = yield :stylesheets
    = yield :head

  body
    header
      = yield :header
    main
      = yield
    footer
      = yield :footer

    = yield :body
    = yield :javascripts
